<div class="auth-form__field {{#if error}}auth-form__field--error{{/if}}">
    <input
        class="auth-form__input"
        id="auth-{{name}}"
        type="{{type}}"
        name="{{name}}"
        placeholder=" "
        {{#if error}}aria-invalid="true" aria-describedby="auth-{{name}}-error"{{/if}}
    />
    <label class="auth-form__label" for="auth-{{name}}">{{label}}</label>
    {{#if error}}
        <span class="auth-form__error" id="auth-{{name}}-error">{{error}}</span>
    {{/if}}
</div>
