<div class="profile-form__field {{#if (fieldError formErrors name)}}profile-form__field--error{{/if}}">
    <label class="profile-form__label" for="profile-{{name}}">{{label}}</label>
    <input
        class="profile-form__input"
        id="profile-{{name}}"
        type="{{type}}"
        name="{{name}}"
        value="{{fieldValue formValues name value}}"
        {{#if validationRule}}data-validation-rule="{{validationRule}}"{{/if}}
        {{#if (fieldError formErrors name)}}aria-invalid="true" aria-describedby="profile-{{name}}-error"{{/if}}
    />
    {{#if (fieldError formErrors name)}}
        <span class="profile-form__error" id="profile-{{name}}-error">{{fieldError formErrors name}}</span>
    {{/if}}
</div>
