<div class="profile-form__field">
    <label class="profile-form__label" for="profile-{{name}}">{{label}}</label>
    <input class="profile-form__input" id="profile-{{name}}" type="{{type}}" name="{{name}}" value="{{value}}" />
</div>
